{% extends "layouts/base.html" %}
{% load blog_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Forgot Password</h3>
                </div>
                <form class="form-horizontal" method="post" >
                    {% csrf_token %}
                    <div class="panel-body">
                        {% show_messages messages %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                            {% if form.non_field_errors|length > 1 %}
                                <ul style="padding: 0 15px;">
                                {% for err in form.non_field_errors %}
                                    <li>{{ err }}</li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                {{ form.non_field_errors|striptags }}
                            {% endif %}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <div class="col-md-12 {% if form.email.errors %}has-error{% endif %}">
                                <input class="form-control" type="text" name="email" placeholder="Email" value="{{ form.cleaned_data.email }}">
                                {% if form.email.errors %}
                                    <div class="help-block">
                                    {% for err in form.email.errors %}
                                        <strong>{{ err }}</strong><br>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                Send password reset link
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}